---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { removeFirstPathPart } from "../../../lib/routing";

export const getStaticPaths = (async () => {
	const blogEntries = await getCollection("blog");
	return blogEntries.map((entry) => ({
		params: {
			lang: entry.data.lang,
			article: removeFirstPathPart(entry.slug),
		},
		props: {
			entry,
		},
	}));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout lang={entry.data.lang}>
	<article>
		<h1>{entry.data.title}</h1>
		<p>{entry.data.date}</p>
		<Content />
	</article>
</BaseLayout>
