---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { allowedLanguages } from "../../../config";
import { getCollection } from "astro:content";
import { removeLangFromSlug } from "../../../lib/routing";

export const getStaticPaths = (() => {
	return allowedLanguages.map((lang) => ({ params: { lang } }));
}) satisfies GetStaticPaths;

const blogText = {
	en: "This is the blog page",
	es: "Esta es la página del blog",
	fr: "C'est la page de blog",
};

const { lang } = Astro.params;

const entries = await getCollection("blog", ({ data }) => data.lang === lang);
---

<BaseLayout lang={lang}>
	<h2>{blogText[lang]}</h2>
	<ul>
		{
			entries.map((entry) => (
				<li>
					<a href={removeLangFromSlug(entry.slug)}>{entry.data.title}</a>
				</li>
			))
		}
	</ul>
</BaseLayout>
